.hidden{
  display: none;
}
body{
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
h2{
  position: absolute;
  color: #fff;
  font-size: 130px;
  text-align: center;
  line-height: 130px;
  top: 30%;
  display: block;
}

/* quote */
#quote{
  position: absolute;
  bottom: 25px;
}
#quote > span{
  display: block;
  text-align: center;
}
#quote > span:last-child{
  font-size: 12px;
  margin-top: 5px;
  color: rgba(255, 255, 255, 0.8);
}

/* weather */
#weather{
  position: absolute;
  top: 20px;
  left: 20px;
}


